:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  color: rgba(255, 255, 255, 0.87);
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 10px;
  color: black;
}

p{
  margin: 0;
  padding: 10px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  flex-wrap: wrap;
}

.characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character{
  padding: 5px;
}

.character:hover{
  transform: scale(1.1, 1.1) rotate(-1.5deg);
}

.character p{
  background-color: rgba(17, 14, 14, 0.96);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: -25px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: solid;
  cursor: pointer;
}

.imgs{
  border-radius: 50%;
  width: 92%;
  margin: 10px;
  border: solid;
  cursor: pointer;
  view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

.imgs:hover {
  background-color: aqua;
}

.pagination{
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px;
  align-items: center;
}

.pagination input{
  width: 3em;
  border-radius: 0px;
}

.pagination button{
  padding: 10px;
}

.dialog + .characters{
  filter: blur(1px); 
  pointer-events: none; 
}

.dialog{
  z-index: 900;
  position: fixed;
  padding: 5px;
  border-radius: 10px;
 
}

.detail{
  display: flex;
  justify-content: center; 
}

.detail img{
  width: 60%;
  border-radius: 15px;
  object-fit: cover;
}

.detailResumen{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  position: relative;
}

.detailResumen p{
  padding: 0;
  text-align: left
}

.detailResumen h2{
  margin: 0 auto;
  padding: 5px;
}

.detailResumen button{
  align-self: flex-end;
  position: absolute;
  top: 0px;
  right: 0px;
}

button{
  background-color: rgb(104, 52, 247);
  border: 1px;
  padding: 5px;
  cursor: pointer;
}

.detailResumen button:hover{
  cursor: pointer;
  background-color: rgb(243, 68, 68);
}

.logo{
  width: 40%;
}

.kimche{
  align-items: center;
  display: flex;
  color: #000000;
  padding: 5px;
  justify-content: space-evenly;
}

select{
  cursor: pointer;
  height: 2em;
  border-radius: 5px;
}

input{
  cursor: pointer;
  border-radius: 10px;
  height: 2.5em;
  width: 17em;
}

.filters{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.search input{
  width: 60%;
  max-width: 20em;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  width: 55px;
  background: #ff0e0234;
  border-radius: 10px;
  height: 2.5em;
}

.reset:hover .svgIcon {
  animation: spin 2s linear infinite;
}

.logoLink{
  width: 35px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.presentation{
  z-index: 100;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
}

.presentationOut{
  z-index: 100;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  animation: fade-out 0.8s ease-out forwards; 
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.presentation h2{
  margin: 0 auto;
}

.presentation div{
  width: 100%;
}

.saludos{
  width: 12%
}

.logoKimche{
  width: 50%;
  max-width: 150px;
}

.loading {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}
 
circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}
 
@keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
}
 
@keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
}
 